{{/*###
Handler=/about
TitleBar=About
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui centered segments">
		<div class="ui segment">
			<img src="/static/logos/logo-pink.svg">
			<h1 class="ui no bottom margin header">
				{{ .T "Welcome to Yozora." }}
			</h1>
			<div class="about subtitle">{{ .T "Yozora is a private osu! server." }}<br>
			{{ .T "There are many like it, but this one is ours." }}</div>
		</div>
		<div class="ui segment">
			{{ $scoreCount := qb "SELECT COUNT(*) as Count FROM scores" }}
			{{ $scoreCountRx := qb "SELECT COUNT(*) as Count FROM scores_relax" }}
			{{ $scoreCountAp := qb "SELECT COUNT(*) as Count FROM scores_auto" }}
			<p>With {{ .T "%s Vanilla Scores, %s Relax Scores, %s Autopilot Scores and %s Registered Players (With %s people online currently!) you'd be crazy not to play!" $scoreCount.Count $scoreCountRx.Count $scoreCountAp.Count (rediget "ripple:online_users") (rediget "ripple:registered_users") | html}}</p>
		</div>
	</div>
</div>
{{ end }}