{{/*###
    Handler=/help
    TitleBar=Contact support
    KyutGrill=help.jpg
    */}}
    {{ define "tpl" }}
    <div class="ui container">
        <div class="ui segments">
            <div class="ui segment">
                <p>
                    {{ .T "If you need to get in touch with our support team (our Community Managers), you will need to either send an email to our support email address, or join our <a href='https://discord.gg/mT2EsD8'>Discord Server</a>. You can compose an email to it by clicking the button at the bottom of this page." | html }}
                </p>
                <p>
                    {{ .T "When contacting the support mail, please make sure to <b>send the email from the email address you signed up on Akatsuki with</b>." | html }}
                </p>
            </div>
            <div class="ui right aligned segment">
                <a class="ui right labeled blue icon button" href="mailto:support@yozora.pw">
                    <i class="right arrow icon"></i>
                    {{ .T "Do be warned though, our email is rarely checked as we handle most support via the Discord server." }}
                </a>
            </div>
        </div>
    </div>
    {{ end }}