{{/*###
Handler=/
TitleBar=
*/}}
{{ define "tpl" }}
{{ $cf := .ClientFlags }}
{{ $ds := band $cf 1 }}
{{ $   := . }}
<div class="ui container">
	<div class=""> 
	<div class="main-block">
		<div class="eromanga-sensei"></div>
		<div class="content">
			<div class="status"></div>
			<br>
			<span class="text-lg">
				osu!minase
			</span>
			<span class="text-sm">
				<b>Добро пожаловать на osu!minase.</b>


				Мы - публичный сервер osu! со своими плюшками. свой мультиплеер, своя PP система, разработчики трудятся каждый день что-бы зделать osu!minase лучше. если хотите поддержать тогда купите <a href="https://minase.tk/donate">minase!supporter</a>, и присоединяйтесь к нам на <a href="https://discord.gg/zPPDwcc">Дискорд сервер</a> что-бы быть в курсе что присходит на сервере
			</span>
			<br>
			<br>
			<br>
			<div class="buttons">
				<a href="/register" class="home-btn btn-key" >Присоединится</a>
				<a href="/doc/connection_guide" class="home-btn btn-how" style="margin-left: 6px;">как зайти</a>
			</div>
		</div>
	</div>
	<div class="ui stackable four grid">
	<div class="five wide column">
		<div class="ui red segment">
		<div class="ui grid">
		<div class="four wide column">
		<i class="adjust icon status-icon"></i>
		</div>
		<div class="twelve wide column">
		<p class="status-head"> -1pp </p>
		<p class="status-footer">Top score [osu!]</p>
		<p class="status-head" style="font-size: 12px!important;">Done by <a href="/u/1337">Ktoto</a></p>
		<p class="status-head" style="font-size: 10px!important;">on <a href="/b/1121834">BLEEEEEEK ROOOOOOVER</a></p>
		</div>
		</div>
		</div>
		</div>
	</div>
</div>

{{ end }}